<div class="g-container">
    <div class="options">
        <p>Introduce los caracteres a ignorar:</p>
        <input spellcheck="false" type="text" id="ignore" (change)="getIgnoredValue($event)">
    </div>
    <div class="io-container">
        <div class="input">
            <textarea name="" id="input" (change)="getInputValue($event)" spellcheck="false" placeholder="Input..."></textarea>
        </div>
        <div class="output">
            <textarea name="" id="output" spellcheck="false" placeholder="Output..." readonly>{{ json }}</textarea>
        </div>
    </div>
</div>