/********** MIXINS **********/

.flex(@justify: center, @align: center, @flow: column){
    display: flex;
    justify-content: @justify;
    align-items: @align;
    flex-flow: @flow;
}

/****************************/

.g-container{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,.9);
    .flex();
    color: rgba(255, 255, 255, .72);

    .options {
        height: 62px;
        width: 74%;
        margin-bottom: 26px;
        margin-top: 12px;
        .flex(center,center,row);
        p{
            font-size: 1.1em;
            font-family: 'Courier New', Courier, monospace;
            margin-right: 22px;
        }
        
        #ignore{
            background-color: rgba(0,0,0, 0);
            outline: none;
            border: 1px solid rgba(255, 255, 255, .4);
            height: 32px;
            width: 40%;
            color: rgba(255, 255, 255, .72);
            padding-left: 10px;
        }
    }

    .io-container{
        min-height: 262px;
        height: 84%;
        width: 82%;
        margin-bottom: 24px;
        .flex(space-between, center, row);

        .input, .output{
            height: 100%;
            width: 48%;
            border: 1px solid rgba(255, 255, 255, .4);
            .flex();
            font-size: 1.1em;
            color: rgba(255, 255, 255, .72);
            
            &:hover{
                background-color: rgba(255, 255, 255, .04);
                border-color: rgba(255, 255, 255);
            }

            textarea{
                height: 92%;
                width: 92%;
                background-color: rgba(0,0,0, 0);
                resize: none;
                border: none;
                outline: none;
                color: rgba(255, 255, 255, .72);
                font-size: 1.1em;
            }
        }
    }
}