/* You can add global styles to this file, and also import other style files */
@import url('app/components/convertion/convertion.component.less');
body{
    margin: 0px;
    padding: 0px;
}
p{
    margin: 0px;
    padding: 0px;
}